/* FORM */
.form {
	background-color: #333333 ;
	border-radius: 20px;
	box-sizing: border-box;
	text-align: center;
  }
  
  .title {
	color: #eee;
	font-family: sans-serif;
	font-weight: 600;
  }

  .title_location {
	color: black;
	font-family: sans-serif;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	margin-top: 30px;
  }
  
  .subtitle {
	color: #eee;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
  }
  
  .input-container {
	position: relative;
	width: 100%;
  }
  
  .input {
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: black;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
  }
 
  .cut {
	background-color: #333333;
	border-radius: 10px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
	width: 76px;
  }
  
  .cut-short {
	width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
	transform: translateY(8px);
  }
  
  .placeholder {
	color: black;
	font-family: sans-serif;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
	font-style: italic;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(-40px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
	color: #808097;
  }
  
  .input:focus ~ .placeholder {
	color: #dc2f55;
	font-weight: bold;
  }

  .placeholder_facultative {
	color: black;
	font-family: sans-serif;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
	font-style: italic;
  }
  
  .input:focus ~ .placeholder_facultative,
  .input:not(:placeholder-shown) ~ .placeholder_facultative {
	transform: translateY(-40px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder_facultative {
	color: #808097;
  }
 
  .input:focus ~ .placeholder_facultative {
	color: white;
	font-weight: bold;
  }
  
  .submit {
	background-color: gray;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	margin-top: 38px;
	outline: 0;
	text-align: center;
	width: 100%;
  }
  
  .submit:active {
	background-color: rgba(128, 128, 128, 0.502);
  }

  .submit:hover {
	background-color: rgba(128, 128, 128, 0.502);
  }
  