body {
    background: #2b2b2d;
    font-family: sans-serif;
    color: white;
    font-family: circular, 'segoe ui', sans-serif;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }

  @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
        
  div[class*=box] {
    display: flex;
    align-items: center;
    height: fit-content
    }
                        /* 
                        ==============
                            BUTTON
                        ==============
                        */
@import url("https://fonts.googleapis.com/css?family=Raleway:400");
* {
  box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
}

.box {
  border: 0.35rem solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
  text-align: center;
  cursor: pointer;
  margin: 2rem;
}

.box:nth-child(2) {
  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.header-logo img {
	width: 10rem;
}

.section_style{
    position: absolute;
    margin-top: 12rem;
    margin-left: 20rem;
    font-style: italic;
    font-size: 25px;
}

.scrollDown {
    margin-top: 40rem;
    align-self: center;

}

.fa-beat-fade {
    font-size: 2rem;
    transform-origin: center;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.texte {
    opacity: 0;
    animation: fadein 4s ease forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.texte1 {
    opacity: 0;
    animation: fadein 4s ease forwards;
    animation-delay: 1s;
}

.texte2 {
    opacity: 0;
    animation: fadein 4s ease forwards;
    animation-delay: 2s;
}

.texte3 {
    opacity: 0;
    animation: fadein 4s ease forwards;
    animation-delay: 3s;
}

.p_style {
    font-size: 30px;
    margin-top: -2rem;
}

.scrollDown {
  margin-top: 41rem;
  align-self: center;
  text-align: center;
}

.contenerglobal {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2rem;
	width: 100%;
	grid-column-gap: 4rem;
  padding: 20rem;
}

.picturelink {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	border-radius: 1.3rem;
  align-self: center;
  background-color: #37373a;
  width: 35rem;
}

.picturelink > figure {
	height: 9rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  justify-content: center;
}


.logo {
	width: 11rem;
	align-self: center;
}

.titlelogo {
	padding: 2rem 2rem 0rem 2rem;
}

.picturename {
	text-align: center;
	padding-top: 0.6rem;
	padding-left: 0.6rem;
	padding-bottom: 0.6rem;
  color: white;
}

/* contact */

.section_center {
    margin-top: 35rem;
}

.section_style_contact {
    text-align: center;
    position: absolute;
    margin-top: 12rem;
    margin-left: 20rem;
    font-style: italic;
    font-size: 25px;
}

/* Footer du site*/
.footertitle {
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
    font-family: circular, 'segoe ui', sans-serif;
}

.footerul {
	list-style-type: none;
	color: #fff;
	text-align: center;
}

.footermenu {
	list-style-type: none;
}

.footertext {
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
}

li {
	margin-bottom: 1rem;
}
.mail {
	padding-right: 0.5rem;
}

.tel {
	padding-right: 0.5rem;
	padding-left: 0.1rem;
}

.contact_picture {
	border-radius: 50%;
	width: 20rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
	box-shadow: 0rem 0.3rem 0.6rem #9c9c9c;
}

.footerul {
	list-style-type: none;
	text-align: center;
}

.footerul_2 {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}

.footerul_contact {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0rem 3rem 4rem;
}

.tel_contact {
	font-size: 6rem;
	margin-top: 2rem;
}

.mail_contact {
	font-size: 6rem;
}

.linkedin_contact {
	font-size: 6rem;
	margin-top: 2rem;
	color: white;
	transition: 0.5s;
}

.footertext_tel {
	margin-top: 2rem;
	color: white;
	font-size: 1rem;
	text-decoration: none;
}

.footertext_linkedin{
	margin-top: 2rem;
	color: white;
	font-size: 3rem;
	text-decoration: none;
}

.div_button {
	margin-left: auto;
	margin-right: auto;
	height: 2rem;
	width: 13rem;
}

.contact_button {
	padding: 1.5rem;
	border: #83a6978e;
	box-shadow: 0rem 0.3rem 0.6rem #9c9c9c;
	border-radius: 2rem;
	background-color: #83a6978e;
	font-weight: bold;
	color: black;
}

.fas.fa-envelope {
	color: white;
	transition: 0.5s;
	text-decoration: none;
}

.fas.fa-envelope:hover {
	transform: translateY(-10px);
  }

.fas.fa-mobile-alt.tel_contact{
	color: white;
margin-bottom: 1rem;
transition: 0.5s;
text-decoration: none;
}

.fas.fas.fa-mobile-alt.tel_contact:hover {
	transform: translateY(-10px);
  }

  .linkedin_contact:hover {
	transform: translateY(-10px);
  }

.footertext_linkedin {
    transition: 0.5s;
	text-decoration: none;
}

.footertext_linkedin:hover {
	transform: translateY(-10px);
}

.fas.fa-mobile-alt {
	transition: 0.5s;
}

.fas.fa-mobile-alt:hover {
	transform: translateY(-10px);
}

@media screen and (min-width: 700px) {
	.footerul_2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.tel_contact {
		margin-top: 0rem;
	}

	.linkedin_contact {
		margin-top: 0rem;
	}
}

@media screen and (min-width: 385px) {
	.slideshow {
		margin: auto;
	}

	.slideshow1 {
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

@media screen and (min-width: 700px) {
	.footerul_2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.tel_contact {
		margin-top: 0rem;
	}

	.linkedin_contact {
		margin-top: 0rem;
	}
}

@media screen and (min-width: 384px) {
	.slideshow {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
